{
  "extends": ["eslint:recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "no-console": "off",
    "strict": 0,
    "curly": "warn",
    "no-unused-vars": 1,
    "no-undef": 1,
    "no-useless-escape": 0,
    "no-extra-boolean-cast": 0,
    "no-unexpected-multiline": 1,
    "mocha/no-exclusive-tests": "error"
  },
  "plugins": ["mocha"]
}
